<h1>LOGIN PAGE</h1>

<form method="POST" action="/account/login">
	<input type="text" name="email" placeholder="Email">
	<input type="text" name="password"placeholder="Password">
	<input type="submit">

</form>