<!DOCTYPE html>
<html>
<head>
	<title>Favorite Game Site</title>
	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class='container'>
		<% include partials/alerts %>
		<hr>
		<div class="row">
			<div class="col-12">
				<a href="/" class="btn btn-info">Home</a>
				<% if(!currentUser) { %>
				<a href="/account/login" class="btn btn-info">Login</a>
				<a href="/account/signup" class="btn btn-info">Sign Up</a>
				<% } %>

				<% if(currentUser) { %>
				<a href="/profile" class="btn btn-info">Profile</a>
				<a href="/search" class="btn btn-info">Search Games</a>
				<a href="/account/logout" class="btn btn-info">Log Out</a>
				<h1> Currently logged in as <%= currentUser.username %></h1>

				<% } %>
				
			</div>
		</div>
		<hr>
		<%- body %>
	</div>
</body>
</html>