<h1>Search Page</h1>

<form method="GET" action="/search/games" id="gameSearch">
	<input type="text" name="name" placeholder="Search For Game">
	<input type="submit">
</form>


<div>
	
		<% include ../partials/results %>
	
</div>