<h1>Search all games</h1>

<form method="GET" action="/search/games" id="gameSearch">
	<input type="text" name="name" placeholder="Game Name">
	<input type="submit">
</form>

<div>
	<% include ../partials/results %>
</div>
