h1 {
	color: darkblue;
	text-align: center;
}

#signedIn {
	float: right;
	color: darkblue;
}

.searchGame {
	border: 2px dotted black;
	padding: 0px 10px;
	background: lightblue;
	margin-bottom: 4px;
}

.profileGame {
	border: 2px dotted black;
	padding: 0px 10px;
	background: lightblue;
	margin-bottom: 4px;
}

.summary {
	text-decoration: underline;
}

.gameTitle {
	font-size: 24px;
}

.deleteButton {
	color: #E85056;
}

#gameSearch {
	text-align: center;
	padding-bottom: 20px;
}
.subhead {
	text-align: center;
}